@model SGCTicketSystem.Models.Technical
@{
    ViewBag.Title = "Technical";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Technical</h1>

<h2>Title and Description:</h2> <b>@ViewBag.IssueTitle</b>

 

@using (Html.BeginForm("ViewTechnical", "Techical"))
{
<div class="form-horizontal">
   

 


    @Html.HiddenFor(model => model.TechnicalId)
    @Html.AntiForgeryToken()

    @Html.ActionLink("Back to List", "Index")

    <div class="form-group"></div>
    <div class="col-md-offset-0">
    </div>


</div>

}
